body {
	background-color: white;
}

.container {
	width: 450px;
	border: 1px solid grey;
	margin: 0 auto;
}

.carousel-buttons{
	position:absolute;
	top: 8px;
}

.carousel {
	overflow: hidden;
}

.photos {
	list-style: none;
	width: 200%;
	padding:0;
	margin:0;
}

li {
	float:left;
}

.carousel img {
	margin:6px;
}

#prev {
	margin-left:-19px;
}

#next {
	margin-left:446px;
}